{% extends 'base.html' %}
{% load static %}

{% block title %} Application sur des données de type audio {% endblock %}

{% block content %}
<div class="col-12">
    <br>
    <h5>Classification de sons (à venir)</h5>
</div>

{% endblock content %}