{% extends 'base.html' %}
{% load static %}

{% block title %} Application de type vidéo {% endblock %}

{% block content %}
<div class="col-12">
    <br>
    <h5>Détection de scènes, d'objets dans une vidéo (à venir)</h5>
</div>

{% endblock content %}