{% extends 'base.html' %}
{% load static %}

{% block title %} Application de type texte {% endblock %}

{% block content %}
<div class="col-12">
    <br>
    <h5>Application d'un réseau de neurones réccurents : LSTM (à venir)</h5>
</div>

{% endblock content %}