{% extends 'base.html' %}
{% load static %}

{% block title %} Réseau de neurones récurrents {% endblock %}

{% block content %}
<div class="col-12">
    <br>
    <br>
    <h5>Composition d'un réseau de neurones récurrents : LSTM et GRU (à venir)</h5>
</div>

{% endblock content %}